@font-face {
    font-family: "Nobel-BookItalic";
    src: url("../fonts/Nobel/Nobel-BookItalic/Nobel-BookItalic.eot");
    src: url("../fonts/Nobel/Nobel-BookItalic/Nobel-BookItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nobel/Nobel-BookItalic/Nobel-BookItalic.woff") format("woff"),
        url("../fonts/Nobel/Nobel-BookItalic/Nobel-BookItalic.ttf") format("truetype");
    font-style: normal;
}